.card{
    border: 2px solid black;
    width: 400px;
    margin: 15px auto;
}
.cardButton{
    width: 1em;
}

.disabled{
    width: 1em;
    cursor: not-allowed;
    margin: auto;
}
.disabled img{
    pointer-events: none;

}
.cardButton img{
    width: 1em;
}
