.spellbookcard{
    border: 2px solid red;
    width: 400px;
    margin: 15px auto;
    padding: 5px;
    text-align: left;
}
.spellbookButton{
    width: 1em;
}
.spellbookButton:hover{

    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}